# Environments
venv/
.env
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# MLflow
mlruns/
mlflow.db
ml-service/model/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
